button {
  width: 100%;
  text-transform: uppercase !important;
  background-color: #64B7CC !important;
  border: none !important;
}

button:hover {
  background-color: #A5BEFA !important;
}

.container {
  max-width: 800px !important;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App, body, html, #root {
  height: 100%;
}

body {
  background-color: #B3093F !important;
}

input {
  margin-bottom: 10px !important;
}

.title {
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  display: inline;
}

svg {
  font-size: 30px;
  margin-right: 5px;
}